<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="m-tabs">
        <!-- First tab -->
        <button class="m-tabs__a-link--active">One</button>
        <div class="m-tabs__a-panel--active">First piece of content.</div>

        <!-- Second tab -->
        <button class="m-tabs__a-link">Two</button>
        <div class="m-tabs__a-panel">Second piece of content.</div>

        <!-- Third tab -->
        <button class="m-tabs__a-link">Three</button>
        <div class="m-tabs__a-panel">Third piece of content.</div>
    </div>
</body>
</html>
