$global-color-shade-1:          #000000;
$global-color-shade-2:          hsla(280, 4%, 69%, 0.3);
$global-color-shade-3:          #f1f1f1;
$global-color-shade-4:          #ffffff;

$global-color-primary-1:        darkslategray;
$global-color-primary-2:        #e57373;

$global-spacing-1:              24px;
$global-spacing-2:              16px;
$global-spacing-3:              10px;
$global-spacing-4:              6px;

$global-easing-bounce:          cubic-bezier(0.75, -1, 0, 1.75);

$global-font-family-primary:    'Arial', sans-serif;
$global-font-size:              15px;
$global-font-weight-1:          400;