$a-panel-background-color:  $global-color-shade-3;
$a-panel-color:             $global-color-shade-1;
$a-panel-font-family:       $global-font-family-primary;
$a-panel-padding-left:      $global-spacing-2;
$a-panel-padding-right:     $global-spacing-2;