$a-link-font-family:    $global-font-family-primary;
$a-link-font-size:      $global-font-size;
$a-link-font-weight:    $global-font-weight-1;
$a-link-line-height:    1.5rem;
$a-link-display:        inline;
$a-link-border:         none;
$a-link-padding-top:    0;
$a-link-padding-right:  0;
$a-link-padding-bottom: 0;
$a-link-padding-left:   0;
